GOODSTACK_PARTNER_KEY=
GOODSTACK_ENTRY_URL=https://validate.poweredbypercent.com/openai
CFMAIL_BASE=https://cfmail.lk1950.online
CFMAIL_SEND_TOKEN=
CFMAIL_ADMIN_TOKEN=
CFMAIL_ORG_DOMAINS=foejapanjp.org,jaapfjp.org,living-in-peacejp.org,edu.foejapanjp.org,edu.jaapfjp.org,edu.lk1950.online,lk1950.online,lk1940.cc.cd
VALCLAIM_FIRST_NAME=博
VALCLAIM_LAST_NAME=川